@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap');

*{
    font-family: Montserrat,serif;
    margin:0px;
    box-sizing: border-box;
}


.myheader{
    height: 100vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-image: url("../imgs/pagebg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}
.myheader h1{
    font-family: Montserrat;
    font-weight: 900;
    color: white;
    font-size: 3em;
}

.myheader h3,.myheader p{
    color:white;
}

.topic h1{
    text-align: center;
    text-transform: capitalize;
}
.row{
    clear: both;
    padding-left: 2%;    
}

.blog-posts{
    clear: both;
   
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.blog-posts h1{
    text-align: center;
    text-transform: capitalize;

}
.col{
    display: inline-block;
    padding:3em;
    width: 30%;
    background-color: white;
    margin: 1%;
    clear: both;
    -webkit-box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);
    -moz-box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);
    box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);

}

footer{
    padding-top: 5vh;
    height: 100vh;
    vertical-align: middle;
    background-color: rgb(15, 15, 15); 
    color: white;
}

footer h1{
    text-align: center;
}
footer section{
    width: 80%;
    margin: auto auto;
    display: block;
}
footer section h1{
    text-align: left;
}
.topic{
    background-color: bisque;
    display: block;
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    -webkit-box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);
    -moz-box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);
    box-shadow: 18px 7px 30px -22px rgba(0,0,0,1);

}

.topic-image{
    display: inline-block;
    max-width: 25%;
    min-width: 25%;
    min-width: 20
}
.topic-image img{
    width: 100%;
    height: auto;
}

.topic-text{
    display: inline-block;
    width: 70%;
}
.to-right{
    float: right;
}
.to-left{
    float: left;
}
