@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap');

*{
    font-family: Montserrat,serif;
    margin:0px;
}

body{
    

}
.myheader{
    height: 100vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-image: url("../imgs/pagebg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}
.myheader h1{
    font-family: Montserrat;
    font-weight: 900;
    color: white;
    font-size: 3em;
}

.myheader h3,.myheader p{
    color:white;
}
.topic{
    padding:5%;
    text-align: left;
}

.topic h1{
    text-align: center;
    text-transform: capitalize;
}